<section class="signup">
	<div class="hs-head">
		<div class="container">
			<div class="bp-logo"></div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="offset3 span6">
				<ul class="checks">
					<li>Go step-by-step through the build of our Dmax.</li>
					<li>Take a virtual tour through H&amp;S headquarters.</li>
					<li>25% off on limited edition t-shirts.</li>
					<li>Attend the Pre-Show Q&amp;A with Casey, Bentley, Payton and Zane.</li>
				</ul>
			</div>
		</div>
		<div class="row margin-top">
			<div class="offset3 span6">
				<h4 class="margin-top-none">Where should we send your VIP Pass?</h4>
			</div>
		</div>

		<div class="row">
			<div class="offset3 span6">
				<div class="row">
					<div class="span6 register-facebook">
						<a href="/auth/facebook" class="btn btn-primary">Become VIP via Facebook</a>
						<span class="or">or</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="offset3 span6 register-form">
				
				
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' } ) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="control-group">
				  	<%= f.label :firstname, 'First Name:', :class => "control-label" %>
				  	<div class="controls">
				  		<%= f.text_field :firstname %>
				  	</div>
				  </div>

				  <div class="control-group">
				  	<%= f.label :lastname, 'Last Name:', :class => "control-label" %>
				  	<div class="controls">
				  		<%= f.text_field :lastname %>
				  	</div>
				  </div>

				  <div class="control-group">
				  	<%= f.label :email, 'Email Address:', :class => "control-label" %>
				  	<div class="controls">
				  		<%= f.email_field :email %>
				  	</div>
				  </div>

				  <div class="control-group">
				  	<%= f.label :password, 'VIP Password:', :class => "control-label" %>
				  	<div class="controls">
				  		<%= f.password_field :password %>
				  	</div>
				  </div>

				  <div class="control-group">
				  	<%= f.label :password_confirmation, 'Password Again:', :class => "control-label" %>
				  	<div class="controls">
				  		<%= f.password_field :password_confirmation %>
				  	</div>
				  </div>

				  <div class="control-group">
				  	<div class="control-label"></div>
				  	<div class="controls">
				   		<%= f.submit "Get FREE VIP Access", :class => 'btn btn-success' %>
				   	</div>
				  </div>
				<% end %>

				<div class="disclaimer">
					100% privacy, 0% games. We promise never to spam you or share your email.
				</div>

				<ul class="links">
					<li><%= link_to "Login", new_session_path(resource_name) %></li>
					<li><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
					<li><%= link_to "Resend confirmation email?", new_confirmation_path(resource_name) %></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="hs-foot">
		<div class="container">
			<div class="hs-logo"></div>
		</div>
	</div>
</section>