<section class="event-info">
	<div class="container">
		<div class="event-time">
			<h1>Thursday, April 25, 2013 @ 1:00pm (MST)</h1>
			<h3>Watch it LIVE in the new <%= link_to "H&S Virtual Garage", new_user_registration_path %>.</h3>
		</div>

		<hr />

		<div class="event-desc">
			<h5>In order for us here at H&amp;S to continue to design innovative products, every now and then
			we need to push a test vehicle to its absolute limits; we need to find its Breaking Point.</h5>
		</div>
	</div>
</section>

<section class="recap" id="recap">
	<div class="container">
		<div class="row">
			<div class="offset6 span6">
				<div class="section-heading">
					<h2>Breaking Point 1 Recap</h2>
					<h4>Ford 6.7L, a new level of respect</h4>
				</div>
				<div class="section-body">
					<p>The first Breaking Point was completely jaw-dropping. We took a stock Ford 6.7L Scorpion engine, bolted on a few parts from
					H&amp;S Motorsports, and hit 884 horsepower before the transmission slipped.</p>

					<div class="play-video-btn">
						<a class="play-video ss-icon ss-standard" data-toggle="lightbox" href="#playVideo">play</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="the-truck" id="truck">
	<div class="container">
		<div class="row">
			<div class="offset1 span6">
					<div class="section-heading inner">
					<h2>The Truck</h2>
					<h4>LML: A chance to prove itself</h4>
				</div>

				<div class="section-body">
					<p>Now that we have a better idea of what the Scorpion is capable of, it's time to move on and give the GM crowd
					some love. We've seen a lot of posts on our <a href="https://www.facebook.com/hsperformance?fref=ts" target="_blank">Facebook</a> page and heard endless chatter about the LML far out-performing
					the Scorpion. Is all the talk legit? I guess we'll see. We don't really care who 'wins', we just need to see what the Duramax can do.</p>
					<%= link_to "Get the specs on our LML Duramax 6.6L", new_user_registration_path, :class => "btn btn-success" %>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="vip-pass" id="vip">
	<div class="container">
		<div class="section-heading">
			<h2>VIP Pass</h2>
			<h4>Go behind the scenes for a look at our shop, the Duramax and more.</h4>
		</div>

		<div class="section-body">
			<h4 class="bold text-center">You're gonna want VIP status.</h4>
			<ul class="checks">
				<li>Access the LIVE VIP events</li>
				<li>See our Duramax beforehand and walk part-by-part through the custom build.</li>
				<li>Get a virtual tour of H&amp;S headquarters - from inside our celebrity bus to the inner workings of our shop.</li>
				<li>Be first in line to purchase our truely limited edition Breaking Point event t-shirts at a VIP discounted rate (only XXX shirts available, once they're gone, they're gone).</li>
				<li>Attend the Pre-Show Q&amp;A and meet the men behind the Breaking Point: Casey, Bentley, Zane and Payton.</li>
			</ul>
		</div>

		<div class="vip-btn margin-top text-center">
			<%= link_to "Get FREE VIP Access", new_user_registration_path, :class => "btn btn-success" %>
		</div>
	</div>
</section>

<section class="event-schedule inner" id="schedule">
	<div class="container">
		<div class="section-heading inner text-center">
			<h2>Schedule of Events</h2>
			<h4>We really hope you can make it.</h4>
		</div>

		<div class="section-body">
			<div class="row">
				<div class="span4">
					<div class="schedule-head">
						<h4>Tuesday <span class="pull-right">April 23</span></h4>
					</div>

					<div class="schedule-body">
						<h3>Meet 'n' Greet</h3>
						<h6>@ 1:00pm (MST) | 2:00pm (CST)</h6>

						<div class="schedule-desc">
							This time around, not only do we want you to watch the Breaking Point 2 with us LIVE, we'd also like to see you in the garage at the H&amp;S VIP Meet 'n' Greet.
						</div>

						<div class="schedule-btn text-center">
							<%= link_to "Get on the list.", new_user_registration_path, :class => "btn btn-success" %>
						</div>
					</div>
				</div>

				<div class="span8">
					<div class="row">
						<div class="span8">
							<div class="schedule-head">
								<h4>Thursday <span class="pull-right">April 25</span></h4>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="span4">
							<div class="schedule-body">
								<h3>Pre-Show Q&amp;A</h3>
								<h6>@ 12:00pm (MST) | 1:00pm (CST)</h6>

								<div class="schedule-desc">
									Listen to Casey, Bentley, Zane and Payton field online questions from other industry professionals.
								</div>

								<div class="schedule-btn text-center">
									<%= link_to "Get on the list.", new_user_registration_path, :class => "btn btn-success" %>
								</div>
							</div>
						</div>

						<div class="span4">
							<div class="schedule-body">
								<h3>Breaking Point 2</h3>
								<h6>@ 1:00pm (MST) | 2:00pm (CST)</h6>

								<div class="schedule-desc">
									Can the LML take as much abuse as the Scorpion? We'll find out together - LIVE.
								</div>

								<div class="schedule-btn text-center no-btn">
									Open to the public.<br />
									No pass required.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="faq" id="faq">
	<div class="container">
		<div class="section-heading text-center">
			<h2>FAQ</h2>
			<h4>You might be wondering the same things.</h4>
		</div>

		<div class="section-body">
			<ul class="questions">
				<li>Will you ever test the Ford again?<br /><span>Yes. First we need a transmission that can handle additional power; our friends at <a href="http://www.atsdiesel.com/ats2/" target="_blank">ATS</a> are helping us out with that. As soon as they have the new tranny finished, the Ford will be ready for round two.</span></li>
				<li>Will the video feed be higher quality?<br /><span>Yes. Multiple camera angles all streaming in HD.</span></li>
				<li>Will I be able to hear the guys voices clear?<br /><span>Yes. We've purchased the highest quality sound equipment we could find.</span></li>
				<li>Where can I find the specs of the truck?<br /><span>Get a VIP pass and we'll take you on a step-by-step tour through the build of the Duramax.</span></li>
				<li>Wonder if I can't watch it live?<br /><span>Honestly, kind of a bummer. But yes, we'll have it all recorded online so you can watch it any time.</span></li>
				<li>How come you do multiple runs instead of just running it until it implodes?<br /><span>If we just wanted to watch it blow up we'd put it out in the parking lot with a stick of dynamite.</span></li>
			</ul>
		</div>
</section>
<hr id="network" />
<section class="network">
	<div class="container">
		<div class="section-heading text-center">
			<h2>Network</h2>
			<h4>Other useful products, first-rate companies and innovative ideas that<br />supported our first Breaking Point.</h4>
		</div>

		<div class="section-body">
			<div class="row">
				<div class="span4">
					<div class="network-sponsor complete-performance"><a href="http://www.cptrucks.com/" target="_blank"></a></div>
				</div>

				<div class="span4">
					<div class="network-sponsor rudys"><a href="http://www.rudysdiesel.com/" target="_blank"></a></div>
				</div>

				<div class="span4">
					<div class="network-sponsor thoroughbred"><a href="http://www.thoroughbreddiesel.com/" target="_blank"></a></div>
				</div>

				<div class="span4">
					<div class="network-sponsor dieselsellerz"><a href="http://www.dieselsellerz.com/" target="_blank"></a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="playVideo" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class='lightbox-header'>
        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
    </div>
    <div class='lightbox-content'>
        <iframe width="853" height="480" src="http://www.youtube.com/embed/cHwSGignzgY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class='lightbox-footer'>
        
    </div></div>