<section class="event-info">
	<div class="container">
		<div class="event-time">
			<h1>Thursday, April 25, 2013 @ 1:00pm (MST)</h1>
			<h3>Watch it LIVE in the new <%= link_to "H&S Virtual Garage", new_user_registration_path %>.</h3>
		</div>

		<hr />

		<div class="event-desc">
			<h5>In order for us here at H&amp;S to continue to design innovative products, every now and then
			we need to push a test vehicle to its absolute limits; we need to find its Breaking Point.</h5>
		</div>
	</div>
</section>

<section class="recap">
	<div class="container">
		<div class="row">
			<div class="offset6 span6">
				<div class="section-heading">
					<h2>Breaking Point 1 Recap</h2>
					<h4>Ford 6.7L, a new level of respect</h4>
				</div>
				<div class="section-body">
					<p>The first Breaking Point was completely jaw-dropping. We took a stock Ford 6.7L Scorpion engine, bolted on a few parts from
					H&amp;S Motorsports, and hit 884 horsepower before the transmission slipped.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="the-truck">
	<div class="container">
		<div class="row">
			<div class="offset1 span6">
					<div class="section-heading">
					<h2>The Truck</h2>
					<h4>LML: A chance to prove itself</h4>
				</div>

				<div class="section-body">
					<p>Now that we have a better idea of what the Scorpion is capable of, it's time to move on and give the GM crowd
					some love. We've seen a lot of posts on our <a>Facebook</a> page and heard endless chatter about the LML far out-performing
					the Scorpion. Is all the talk legit? I guess we'll see. We don't really care who 'wins', we just need to see what the Duramax can do.</p>
					<a class="btn btn-success">Get the specs on our LML Duramax 6.6L</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="vip-pass">
	<div class="container">
		<div class="section-heading">
			<h2>VIP Pass</h2>
			<h4>Go behind the scenes for a look at our shop, the Duramax and more.</h4>
		</div>

		<div class="section-body">
			<h4 class="bold text-center">You're gonna want VIP status.</h4>
			<ul class="checks">
				<li>Access the LIVE VIP events</li>
				<li>See our Duramax beforehand and walk part-by-part through the custom build.</li>
				<li>Get a virtual tour of H&amp;S headquarters - from inside our celebrity bus to the inner workings of our shop.</li>
				<li>Be first in line to purchase our truely limited edition Breaking Point event t-shirts at a VIP discounted rate (only XXX shirts available, once they're gone, they're gone).</li>
				<li>Attend the Pre-Show Q&amp;A and meet the men behind the Breaking Point: Casey, Bentley, Zane and Payton.</li>
			</ul>
		</div>

		<div class="vip-btn margin-top text-center">
			<%= link_to "Get FREE VIP Access", new_user_registration_path, :class => "btn btn-success" %>
		</div>
	</div>
</section>

<section class="event-schedule">
	<div class="container">
		<div class="section-heading text-center">
			<h2>Schedule of Events</h2>
			<h4>We really hope you can make it.</h4>
		</div>

		<div class="section-body">
			<div class="row">
				<div class="span4">
					<div class="schedule-head">
						<h4>Tuesday <span class="pull-right">April 23</span></h4>
					</div>

					<div class="schedule-body">
						<h3>Meet 'n' Greet</h3>
						<h6>@ 1:00pm (MST) | 2:00pm (CST)</h6>

						<div class="schedule-desc">
							This time around, not only do we want you to watch the Breaking Point 2 with us LIVE, we'd also like to see you in the garage at the H&amp;S VIP Meet 'n' Greet.
						</div>

						<div class="schedule-btn text-center">
							<%= link_to "Get on the list.", new_user_registration_path, :class => "btn btn-success" %>
						</div>
					</div>
				</div>

				<div class="span8">
					<div class="row">
						<div class="span8">
							<div class="schedule-head">
								<h4>Thursday <span class="pull-right">April 25</span></h4>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="span4">
							<div class="schedule-body">
								<h3>Pre-Show Q&amp;A</h3>
								<h6>@ 12:00pm (MST) | 1:00pm (CST)</h6>

								<div class="schedule-desc">
									Listen to Casey, Bentley, Zane and Payton field online questions from other industry professionals.
								</div>

								<div class="schedule-btn text-center">
									<%= link_to "Get on the list.", new_user_registration_path, :class => "btn btn-success" %>
								</div>
							</div>
						</div>

						<div class="span4">
							<div class="schedule-body">
								<h3>Breaking Point 2</h3>
								<h6>@ 1:00pm (MST) | 2:00pm (CST)</h6>

								<div class="schedule-desc">
									Can the LML take as much abuse as the Scorpion? We'll find out together - LIVE.
								</div>

								<div class="schedule-btn text-center no-btn">
									Open to the public.<br />
									No pass required.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<% if user_signed_in? %>
			<%= link_to "My Profile", edit_user_registration_path %><br>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br>
		<% else %>
			<%= link_to "Sign in", new_user_session_path %><br>
		<% end %>
		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
	</div>
</section>