<!DOCTYPE html>
<html>
<head>
	<title>Breaking Point</title>

	<!-- META DATA -->
	<%= csrf_meta_tags %>

	<!-- STYLESHEETS -->
	<%= stylesheet_link_tag "application", :media => "all" %>

	<!-- SCRIPTS -->
	<%= javascript_include_tag "application" %>

	<!-- PAGE HEAD -->
	<%= yield :headscripts %>
</head>
<body class="<%= "#{controller.controller_name} #{@body_class}".strip %>" data-spy="scroll" data-target="#nav">
	<%= render "shared/flash_message" %>

	<%= yield :header %>
	
	<%= yield %>

	<%= yield :footer %>

<%= yield :footerscripts %>
</body>
</html>
