<!DOCTYPE html>
<html>
<head>
	<title>Breaking Point</title>

	<!-- META DATA -->
	<%= csrf_meta_tags %>

	<!-- STYLESHEETS -->
	<%= stylesheet_link_tag "application", :media => "all" %>

	<!-- SCRIPTS -->
	<%= javascript_include_tag "application" %>

	<!-- PAGE HEAD -->
	<%= yield :head %>
</head>
<body>
	<%= render "shared/flash_message" %>

	<header class="site-header">
		<div class="header-top">
			<div class="container">
				<div class="site-logo">
					<%= link_to(root_path) do %>
					<h1>Breaking Point</h1>
					<% end %>
				</div>

				<% if not user_signed_in? %>
				<div class="site-header-btn">
					<%= link_to "Get FREE VIP Access", new_user_registration_path, :class => "btn btn-success btn-block" %>
				</div>
				<% end %>
			</div>
		</div>

		<div class="header-bottom">
			<div class="container">
				<div class="site-header-nav">
					<ul class="site-nav">
						<li class="recap"><a href="">Recap</a></li>
						<li class="the-truck"><a href="">The Truck</a></li>
						<li class="vip-pass"><a href="">VIP Pass</a></li>
						<li class="events"><a href="">Events</a></li>
						<li class="faq"><a href="">FAQ</a></li>
						<li class="network"><a href="">Network</a></li>
					</ul>
					<div class="site-nav-logo"><div class="mini-logo"></div></div>
				</div>
			</div>
		</div>
	</header>
	
	<%= yield %>

<%= yield :footer %>
</body>
</html>
