<!DOCTYPE html>
<html>
<head>
	<title>Breaking Point</title>

	<!-- META DATA -->
	<%= csrf_meta_tags %>

	<!-- STYLESHEETS -->
	<%= stylesheet_link_tag "application", :media => "all" %>

	<!-- SCRIPTS -->
	<%= javascript_include_tag "application" %>

	<!-- PAGE HEAD -->
	<%= yield :headscripts %>
</head>
<body class="<%= "#{controller.controller_name} #{@body_class}".strip %>" data-spy="scroll" data-target="#nav">
	<%= render "shared/flash_message" %>

	<header class="site-header" id="top">
		<div class="header-top">
			<div class="container">
				<div class="site-logo">
					<%= link_to(root_path) do %>
					<h1>Breaking Point</h1>
					<% end %>
				</div>

				<% if not user_signed_in? %>
				<div class="site-header-btn">
					<%= link_to "Get FREE VIP Access", new_user_registration_path, :class => "btn btn-success btn-block" %>
				</div>
				<% end %>
			</div>
		</div>

		<div class="header-bottom" id="nav">
			<div class="container">
				<div class="site-header-nav">
					<ul class="site-nav nav">
						<li class="home"><a href="#top"></a></li>
						<li class="recap"><a href="#recap">Recap</a></li>
						<li class="the-truck"><a href="#truck">The Truck</a></li>
						<li class="vip-pass"><a href="#vip">VIP Pass</a></li>
						<li class="events"><a href="#schedule">Events</a></li>
						<li class="faq"><a href="#faq">FAQ</a></li>
						<li class="network"><a href="#network">Network</a></li>
					</ul>
					<div class="site-nav-logo"><div class="mini-logo"><a href="#top"></a></div></div>
				</div>
			</div>
		</div>
	</header>
	
	<%= yield %>

	<footer class="site-footer" id="network">
		<div class="footer-top">
			<div class="container">
				<div class="footer-event-logo"></div>
				<div class="footer-social">
					<ul class="social-btns">
						<li><a class="ss-icon" href="#">facebook</a></li>
						<li><a class="ss-icon" href="#">twitter</a></li>
						<li><a class="ss-icon" href="#">instagram</a></li>
						<li><a class="ss-icon" href="#">youtube</a></li>
					</ul>
					<ul class="social-pieces">
						<li>@hsperformance</li>
						<li>#stayTuned</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<ul class="footer-links">
					<li><a href="http://hsperformance.com"><span class="ss-icon ss-standard">globe</span> hsperformance.com</a></li>
					<li><a href="mailto://media@hsperformance.com"><span class="ss-icon ss-standard">mail</span> media@hsperformance.com</a></li>
				</ul>

				<div class="footer-logo"></div>
			</div>
		</div>
	</footer>

<%= yield :footerscripts %>
</body>
</html>
