<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? content_for(:title) : "Breaking Point 2" %></title>

	<!-- META DATA -->
    <meta property="fb:app_id" content="631675286847452" />
    <meta property="og:url" content="http://www.breakingpoint2.com/"/>
    <meta property="og:title" content="The Breaking Point 2 (LIVE NOW)"/>
    <meta property="og:description" content="In order for us to continue designing innovative products, every now-and-then we need to push a test vehicle to its absolute limits; we need to find its breaking point."/>
    <meta property="og:image" content="https://s3.amazonaws.com/hsbreakingpoint/fb/liveShare.png"/>
	<%= csrf_meta_tags %>

	<!-- STYLESHEETS -->
	<%= stylesheet_link_tag "application", :media => "all" %>

	<!-- SCRIPTS -->
	<%= javascript_include_tag "application" %>

	<!-- PAGE HEAD -->
	<%= yield :headscripts %>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-38865603-2', 'breakingpoint2.com');
ga('send', 'pageview');

</script>

</head>
<body class="<%= "#{controller.controller_name} #{@body_class}".strip %>" data-spy="scroll" data-target="#nav">
	<%= render "shared/flash_message" %>

	<header class="site-header" id="top">
		<section class="video-player">
			<div class="container">
				<div class="row">
					<div class="span4">
						<div class="logo">
						</div>
						<div class="event-time">
							Thursday @ 1:00 (MST)
						</div>
					</div>

					<div class="span8">
						<!-- Video Player Here -->
						<div class="the-stream">
							<iframe src="http://new.livestream.com/accounts/3099177/events/2053286/videos/17336523/player?autoPlay=false&height=349&mute=false&width=620" width="620" height="349" frameborder="0" scrolling="no"></iframe>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="header-bottom" id="nav">
			<div class="container">
				<div class="site-header-nav">
					<ul class="site-nav nav">
						<li class="home"><a href="#top"></a></li>
						<li class="recap"><a href="#recap">Recap</a></li>
						<li class="spec-sheet"><a href="#specs">Spec Sheets</a></li>
						<li class="t-shirts"><a href="#tshirts">T-shirts</a></li>
						<li class="giveaways"><a href="#giveaways">Giveaways</a></li>
						<li class="faq"><a href="#faq">FAQ</a></li>
						<li class="network"><a href="#network">Network</a></li>
					</ul>
					<div class="site-nav-logo"><div class="mini-logo"><a href="#top"></a></div></div>
				</div>
			</div>
		</div>
	</header>
	
	<%= yield %>

	<footer class="site-footer">
		<div class="footer-top">
			<div class="container">
				<div class="footer-event-logo"></div>
				<div class="footer-social">
					<ul class="social-btns">
						<li class="facebook"><a class="ss-icon" href="https://www.facebook.com/hsperformance" title="facebook" target="_blank">facebook</a></li>
						<li class="twitter"><a class="ss-icon" href="https://twitter.com/HSPerformance" title="twitter" target="_blank">twitter</a></li>
						<li class="instagram"><a class="ss-icon" href="http://instagram.com/hsperformance" title="instagram" target="_blank">instagram</a></li>
						<li class="youtube"><a class="ss-icon" href="http://www.youtube.com/hsperformance" title="youtube" target="_blank">youtube</a></li>
					</ul>
					<ul class="social-pieces">
						<li>@hsperformance</li>
						<li>#hsbp2</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<ul class="footer-links">
					<li><a href="http://hsperformance.com" target="_blank"><span class="ss-icon ss-standard">globe</span> hsperformance.com</a></li>
					<li><a href="mailto://media@hsperformance.com" target="_blank"><span class="ss-icon ss-standard">mail</span> media@hsperformance.com</a></li>
				</ul>

				<div class="footer-logo"></div>
			</div>
		</div>
	</footer>

	<% if user_signed_in? %>
		<div class="site-logout">
			<%= link_to "Sign out", destroy_user_session_path, :method => "delete" %>
		</div>
	<% end %>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0014/0444.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
</body>
</html>
