<!DOCTYPE html>
<html>
<head>
	<title>Breaking Point</title>

	<!-- META DATA -->
	<meta name="viewport" content="width=480">
    <meta property="fb:app_id" content="631675286847452" />
    <meta property="og:url" content="http://www.breakingpoint2.com/"/>
    <meta property="og:title" content="The Breaking Point 2 (via LIVE stream)"/>
    <meta property="og:description" content="In order for us to continue designing innovative products, every now-and-then we need to push a test vehicle to its absolute limits; we need to find its breaking point."/>
    <meta property="og:image" content="https://s3.amazonaws.com/hsbreakingpoint/fb/FB-Share-Mim.png"/>
	<%= csrf_meta_tags %>

	<!-- STYLESHEETS -->
	<%= stylesheet_link_tag "application", :media => "all" %>

	<!-- SCRIPTS -->
	<%= javascript_include_tag "application" %>

	<!-- PAGE HEAD -->
	<%= yield :headscripts %>
</head>
<body class="maintenance">
	<%= render "shared/flash_message" %>
	
	<%= yield %>

<%= yield :footerscripts %>
</body>
</html>
